
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  --primarycolor: #4318FF;
  --primarytextcolor:#2B3674;
  --astrikcolor:#FF1818;
  --secondarytextcolor: #949DB9;
}



.main_container{
  /* border: 1px solid black; */
  background-color: #F4F7FE;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;

}
.profile_container{
 
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;

}
.content_Section {
  background-color: #F4F7FE;
}


.error_msg{
  color: red;
  font-size: 12px;
}
#profilepic{

  width: 140px;
  height: 140px;
  border-radius: 50%;
/* margin-bottom: 30px; */
margin-top: 20px;
}


.side_Section{
  background-image: linear-gradient( to right,#301F81, #0F0441);
  /* height: 100vh; */
  
}
.heading_text{

  border-bottom: 1px solid rgba(255, 255, 255, 0.17) ;
  /* padding-left: 20px; */
 
}
.employe_text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  font-family: "Poppins";

}
.manag_text{
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  font-family: "Poppins";
}

.nav_bar {
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

}
.list{
  display: flex;
  gap: 10px;
  align-items: center;
  height: 54px;
  justify-content: flex-start;
  padding-left: 25px;
}


.list a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

}
.nav_Section{
  flex: 1;
}
.list:hover{
  background-color: rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 1);
  border-radius: 15px;

}
.list a:hover{
color: rgba(255, 255, 255, 1);

}

.logo_section{

  border-top: 1px solid rgba(255, 255, 255, 0.17);
  display: flex;
  font-size: 10px;
  font-weight: 500;
  white-space: nowrap;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  gap: 5px;
  justify-self: center;
 
}

.search_Section{
  width: 346px;
  height: 60px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search_input input{
  width: 200px;
  height: 40px;
  border-radius: 49px !important; 
}

.search_input input,textarea {
  background-color:  rgba(244, 247, 254, 1);

}
.search_input input:focus {
  /* border-color: inherit; */
  -webkit-box-shadow: none;
  box-shadow: none;
}

.image_Section{
  height: 40px;
  width: 40px;

}
.image_Section img{
  border-radius: 50%;
}
.span1{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(112, 126, 174, 1);
}
.span2{
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  color:rgba(43, 54, 116, 1)
}
.textsec{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: rgba(43, 54, 116, 1);
}
.textsec span{
 font-size: 14px;
 font-weight: 600;
 line-height: 20px; 
 color: rgba(51, 51, 51, 1);
}


.textsec select{
  width:70px;
  height: 42px;
  border-radius: 8px;  
}
.textsec select:focus{
  -webkit-box-shadow: none;
  box-shadow: none;

}
.button_Section button{
  width:150px;
  height: 50px;
  border-radius: 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--primarycolor) !important;
  border: none !important;

}

.btn-primary:focus{
  box-shadow: none !important;
 
}

.page_Sec{

  flex: 1;
}
.copyright_Section{
  border-top: 1px solid  rgba(119, 117, 117, 0.17);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color:rgba(112, 126, 174, 1);
 
  height: 64px;


}
.rightsec span{
  font-weight: 500;
  font-size: 14px;

}
.list_Section{
  border-radius: 20px;
}



/* Add emplye  form section */

.add_employe_section,.edit_employe_section{
  background-color: rgba(5, 3, 16, 0.8);
}

.form-container{
  height: 100vh;
}



.content_Sec{
  border-radius: 22px;
  max-width: 790px;
  margin: auto;
  /* height: 100vh; */
  /* position: absolute; */
 
}

.form_Sect h4 {
  color:var(--primarytextcolor);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.upload_Sec {
  display: none;
}
.upload_icons {
  color: var(--primarycolor);
  font-size: 18px;
}
.upload_icons h5 {
  font-size: 16px;
  font-weight: 700;
}
.upload_icons h6 {
  color: #8F9BBA;
  font-size: 12px;
  font-weight: 500;
}
.upload_bg {
  background: #fafcfe;
  border: dashed 1px #b2bad0;
  border-radius: 13px;
  /* height: 140px; */
}

.content_Sec .form-select {
  border-radius: 16px;
  color: var(--primarytextcolor) ;
  font-size: 14px;
  font-weight: 400;
  height: 50px;

  
}

.content_Sec option {
  color: black;
}
.form_heading {
  display: flex;
  gap: 5px;
}
.asterisk {
  font-size: 8px;
  color: var(--astrikcolor);
  padding-top: 2px;
}
.form_heading h6 {
  font-size: 14px;
  font-weight: 500;
  color:var(--primarytextcolor);
  line-height: 14px;
}
.content_Sec .form-control{
  border-radius: 16px;
padding: 12px;
color: var(--primarytextcolor);
padding-left: 15px;


}

.form-control:focus{

  outline:0px !important; 
  box-shadow: none !important;
  border-color: var(--primarycolor) !important;

}
.form-select:focus{

  outline:0px !important; 
  box-shadow: none !important;
  border-color: var(--primarycolor) !important;

}
.date_Sec.form-control{
  color: #6c757d !important;
  
}


.form-check-label{
  font-size: 14px;
  font-weight: 400;
  color: var(--primarytextcolor);
  line-height: 20px;
} 

.form-check-input:focus{
  box-shadow: none !important;

}
.form-check-input:checked {
  background-color: var(--primarycolor) !important;
  border-color: var(--primarycolor) !important;
}
.form-range::-webkit-slider-thumb{
  background-color: var(--primarycolor) !important;

}
.close {
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background-color: rgba(244, 247, 254, 1);
}


.close i{
  font-size: 10px;
  color: rgba(67, 24, 255, 1);
}

.bottom_butns>button{
  
  border-radius: 16px;
  background-color: var(--primarycolor);
  border: none ;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  width: 160px;
  height: 58px;
  
}
.c_btn{
  background-color: #FAF9FF !important;
  color: var(--primarycolor) !important;
  border: none !important;
}

.bottom_butns>button:focus{
  box-shadow: none !important;
}
.btn-primary:hover {
  background-color: none !important;
}
.btn-primary:active {
  background-color: none !important;
}
.edit_uplod img{

  width: 120px;
  height: 120px;
  border-radius: 13px;
}
.change_btn{
  width: 100px;
  height: 40px;
  background-color: rgba(234, 230, 251, 1);
  border: none;
  color:rgba(67, 24, 255, 1);
  font-size: 14px;
  font-weight: 700;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.delete_dailog{
  width: 692px;
  border-radius: 22px;  
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
}
.del_heading span{

  font-size: 24px;
  font-weight: 700;
  color: rgba(43, 54, 116, 1);
}
.warng_text{
  font-size: 18px;
  font-weight: 500;
  color: rgba(43, 54, 116, 1);

}
.del_btns .btn-danger{
  width: 130px;
  height: 58px;
  border-radius: 16px;
  background-color: rgba(235, 80, 108, 1) !important;
  border: none !important;
  
}

.del_btns .btn-light{
  width: 122px;
  color: rgba(43, 54, 116, 1) !important;
  border-radius: 16px;
  background-color: rgba(250, 249, 255, 1) !important;
  border: none !important;

}
.del_btns > button:focus{
  box-shadow: none !important;
  /* border: none !important; */
  outline: none !important;
}


/* profile page css */

.profile_section {
  width: 768px;
  margin: auto;
  border-radius: 20px;
  flex: 1;
  height: 862px;
  
}
.img_bg{
  position: relative;
}
.img_Sec img{
  height: 100px;
  border-radius: 50%;
  position: absolute;
  width: 100px;
  background-color: #FFFFFF;
 
  align-items: center;
  display: flex;
  justify-content: center;

left:calc((50% - 60px));
bottom: -48px;

  
}
  
.img_Sec img{
  border-radius: 50%;
}
.name_Sec{
  padding-top: 10px !important;
  font-size: 20px;
  font-weight: 700;
  color: rgba(43, 54, 116, 1);
  padding-top: 60px !important;
}

.name_Sec span{
  font-size: 14px;
  font-weight: 500;
  color: rgba(112, 126, 174, 1);
  

}
.detal_Sec{
  /* width: 232px; */
  height: 91px;
  border-radius: 16px;
  box-shadow: 0 18px 40px 0 rgba(112, 144, 176, 0.12);
  font-size: 14px;
  font-weight: 500;
  color: rgba(112, 126, 174, 1);
  padding-left: 20px !important;

}
.detal_Sec span{
  font-size: 16px;
  color: rgba(43, 54, 116, 1);

}

.profile_btns .btn-primary{

  width: 160px;
  height: 58px;
  border-radius: 16px;
  border: none !important;
  background-color: var(--primarycolor) !important;
}
.profile_btns .btn-danger{

  width: 130px;
  /* height: 58px; */
  border-radius: 16px;
  border: none !important;
  background-color: rgba(235, 80, 108, 1) !important;

}

.profile_btns > button{
  box-shadow: none !important;
border: none !important;
outline: none !important;

}

.dropdown button{
  background-color:  rgba(235, 239, 248, 1);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  /* padding: 0px; */
  
}
.dropdown button:focus{
outline: none;
box-shadow: none;
}



.dropdown-menu li a{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: rgba(43, 54, 116, 1);
}

.dropdown-menu li i{
  color: rgba(139, 149, 183, 1);
}

.dropdown-menu{

  border-radius: 14px !important;

}


.add_Employe_Form,.edit_Employe_Form{
  position: absolute;
  top: 30px;
  margin: auto;
  overflow-y: scroll;
  left: 25%;
  z-index: 2;
  height: 90vh;
  width: 792px;
}
.prfle_edit_form{

  height: 120vh;
}


  ::-webkit-scrollbar {
  display: none;
}  

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.hidden{
  display: none;
}
.delete_template_form{

  position: absolute;
  top: 0;
  left: 30%;
  top:120px;
  z-index: 2;
}



#tbody td{
  font-size: 14px;
  font-weight: 700;
  color: var(--primarytextcolor) !important;

}

.table th{
  font-size: 14px;
  font-weight: 400;
  color: rgba(139, 149, 183, 1);

  
}

.table>:not(:last-child)>:last-child>* {
  border-bottom-color: rgba(211, 216, 226, 1) !important;
}

.page-item i{
  font-size: 12px;
   
}